body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #3185FC; /* Use the specified color code for headings */
}

.checklist-item {
    margin-bottom: 20px;
}

.item-content {
    margin-bottom: 10px; /* Add margin below item content */
}

.options {
    margin-bottom: 10px; /* Add margin below options */
}

.status-label {
    display: inline-block;
}

.comment textarea {
    width: 50%;
    height: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background-color: #3185FC; /* Use the specified color code for buttons */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #1f65d6; /* Darken the color on hover */
}
